@using ASP.Server.Model
@model List<Object>
@{
    ViewData["Title"] = "Home Page";
}


<div class="listeBooks">
    <h1>Liste des livres:</h1>
    <!-- la liste des genres est dans la variable Model qui est typé en ligne 3, elle correspond à la variable xxx dans View(xxx) du controller -->

    <table id="example" class="table" data-search="true">
        <thead>
            <tr>
                <th scope="col" data-filter-control="input" data-sortable="true">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Auteur</th>
                <th scope="col">Prix</th>
                <th scope="col">Genre(s)</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var book in (List<Book>)Model[0])
            {
                    <tr>
                    <td>
                        @(book.Id)
                    </td>
                        <td>@(book.Nom)</td>
                    <td>@(book.Auteur.Nom)</td>

                    <td>@(book.Prix)</td>
                    <td>
                    @foreach (var genre in book.Genres)
                        {
                            <span>@(genre.Nom),</span>
                        }
                    </td>
                    <td>

                        <button onclick="window.location.href='/Book/Edit/@(book.Id)';"  type="button" class="btn btn-primary">Edit</button>
                        <button type="button"  onclick="window.location.href='/Book/Delete/@(book.Id)';" class="btn btn-danger">Supprimer</button>
                    </td>
                    </tr>
            }
        </tbody>
    </table>
</div>

